<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="chatTitle">Listado de productos</h1>

    <div class="container">
        <button id="addProductBtn" class="add-product-btn">Agregar Producto</button>

        {{#if products}}
            <div class="products">
                {{#each products}}
                    <div class="product-card">
                        <img src="{{this.thumbnail}}" alt="Imagen del producto" onerror="this.onerror=null; this.src='/img/default.png';">
                        <p class="product-title">{{this.title}}</p>
                        <p class="product-description">{{this.description}}</p>
                        <p class="product-price">{{this.price}}</p>
                        <button class="deleteProductBtn" data-id="{{this.id}}">Eliminar</button>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No hay productos para mostrar</p>
        {{/if}}
    </div>

    <script src="/js/main.js"></script>
</body>
</html>